/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --discord-primary: rgba(49, 97, 224, 1);
    --discord-dark: rgba(35, 39, 42, 1);
    --discord-light: rgba(246, 246, 246, 1);
}

body{
    font-family: 'Open Sans', sans-serif;

}

h1{
    padding: 1rem;
}

h2{
    font-size: xx-large;
}

h3{
    background-image: url(../img/stars.svg);
    text-align: center;
    background-size: contain;
}

p{
    padding-top: 1rem;
    padding-bottom: 1rem;

}

/* #endregion common */

/* #region header */
#site_header {
    background-color: var(--discord-primary);
    padding: 1rem;
}

.container_h {
    
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    
}

.logo{
    text-align: start;
    flex-grow: 1;
    
}

.logo1{
    vertical-align: middle;
}

.links{
    display: flex;
    align-items: center;
    flex-grow: 2;
    justify-content: space-between;
    color: white;
    font-size: 1rem;
    vertical-align: middle;
}

.login{
    text-align: end;
    flex-grow: 1;
    vertical-align: middle;
}

.accedi{
    background-color: white;
    border: 1px solid white;
    border-radius: 2rem;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 0.5rem;

}

/* #endregion header */

/* #region main*/

#site_main {}

/* #region jumbotron */

.jumbotron {
    padding: 2rem 0;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.jumbo {
    width: 60%;
    margin: auto;
}

.download{
    padding-bottom: 6rem;
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
}

.mac{
    background-color: white;
    border: 1px solid white;
    border-radius: 2rem;
    padding: 0.8rem;
    font-weight: bold;
}

.open{
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 2rem;
    padding: 0.8rem;
}

/* #endregion jumbotron */

 /* #region study-group */
.study-group {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    align-items: center;
}

.block_big {
    width: 60%;
    
}

.item{
    width: 80%;
}

.block_small {
    width: 20%;
}

.wave{
    width: 120%;
    border-bottom: 1 px solid var(--discord-primary);
    background-color: var(--discord-light);
}

 /* #endregion study-group */
 
 /* #region meet */
.meet{
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--discord-light);
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.room{
    width: 60%;
}

.place{
    width: 20%;
}

.item2{
    width: 100%;
    align-self: flex-end;
}

.wave2{
    width: 120%;
    border-bottom: 1 px solid var(--discord-primary);
    background-color: white;
}

 /* #endregion meet */

 /* #region fandom */
.fandom{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    align-items: center;
}

.item3{
    width: 100%;
}

 /* #endregion fandom */

  /* #region tech */

.tech{
    display: flex;
    background-color: var(--discord-light);
    justify-content: center;
    padding: 1rem 0;
    margin: auto;
    text-align: center;

}

.device{
    width: 80%;
    background-color: var(--discord-light);
    margin: auto;
}

.item4{
    width: 100%;
}

.text{
    width: 40%;
    text-align: center;
    margin: auto;
    padding-bottom: 2rem;
}

.scarica{
    padding: 0.8rem;
    background-color: var(--discord-primary);
    color: white;
    border-radius: 1rem;
    border: 1px solid var(--discord-primary);
}

  /* #endregion tech */

/* #endregion main */

/* #region footer */
#site_footer {
    padding-top: 0.5rem;
    background-color: var(--discord-dark);
}

.container_f{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem ;
}

.social{
    background-color: mediumorchid;
    width: 20%;
    height: 250px;
    border: 1px dashed white;
}

.info{
    background-color: mediumaquamarine;
    width: 10%;
    height: 250px;
    border: 1px dashed white;
}

.end{
    padding: 1rem 0;
}
.line {
    background-color: mediumaquamarine;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.buttons{
    border: 1px dashed black;
}

hr{
    margin-left: 20%;
    margin-right: 20%;
}

/* #endregion footer */